.StartPage {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background: #ffffff;
    padding: 103px 16px 48px 16px;
}
.Main {    
    margin-top: 50px;
}

.Header {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    color: #1c1c21;
}

@media (min-width: 576px) {
    .Main {
        margin-top: 100px;
    }
}

@media (min-width: 992px) {
    .StartPage {
        padding: 230px 40px 230px 40px;
    }
    .Container {
        display: flex;
    }
    .Main {
        margin-left: 32px;
        margin-top: 54px
    }
    .Header {
        text-align: left;
    }
}

@media (min-width: 1200px) {   
    .StartPage {
        padding: 230px 80px 304px 80px ;
    } 
    .Header {
        font-size: 50px;
    }
}

@media (min-width: 1400px) {  
    .Header {
        width: 480px;
        font-size: 56px;
    }
    .Container {
        width: 1240px;
        margin: auto;
    }
}
    